<div class="row">
    <table class="table">
        <tr>
            <td style="width: 30%;">Username</td>
            <td style="width: 40%;">Active Roles</td>
            <td style="width: 30%;">Username</td>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.roles}}</td>
            <td><button (click)="openRolesModal(user)" class="btn btn-info" style="background-color: lightskyblue;">Edit Roles</button></td>
        </tr>
    </table>
</div>
